.noteContainer {
    position: relative;
}

.noteText {
    border: 2px solid #efefef;
    padding: 15px;
    border-radius: 20px;
    height: 170px;
    width: 250px;
    font-size: 0.7rem;
}

.noteTitle {
    text-align: center;
    font-weight: bolder;
    margin-top: 5px;
}

.noteDate {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    color: #898989;
}
