.container {
    position: relative;
    display: inline-block;
}

.button {
    padding: 0;
    width: 32px;
    height: 32px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
}

.buttonIco {
    width: 32px;
    height: 32px;
    border: none;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.dropdown {
    background-color: #efefef;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

.listContainer {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.listItem {
    display: flex;
    align-items: flex-end;
    padding: 4px 12px;
    border-radius: 5px;
}

.listItem:hover {
    background-color: #f7c94f;
    cursor: pointer;
}

.button:hover {
    background-color: #efefef;
}
